<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NetworkSwitcher.Properties.Settings>
            <setting name="adapterName1" serializeAs="String">
                <value>アダプター1</value>
            </setting>
            <setting name="adapterName2" serializeAs="String">
                <value>アダプター2</value>
            </setting>
            <setting name="adapterName3" serializeAs="String">
                <value>アダプター3</value>
            </setting>
        </NetworkSwitcher.Properties.Settings>
    </userSettings>
</configuration>